body{
    margin: 0;
    background-color: #111f;
    background-size: 95%;
}

.ladrillo_mario{
    width: 800px;
    height: 300px;
    position: absolute;
    margin-top: 40px;
    margin-left: 370px;
}
.perdiste{
    background-size: 50%;
    width: 100px;
    height: 300px;
    margin-left: 200px;
    margin-top: 80px;
    padding-left:250px ;
    position: absolute;
    font-size: 150px;

}

.volver_jugar{
    background-color: transparent;
    margin-left: 600px;
    margin-top: 320px;
    position: absolute;
    width: 350px;
    height: 300px;
    border-radius: 30px;

    border: none;
}

.volver_jugar:hover {
    background-color: transparent;
    background-image: url(/imagenes/mario_saliendo_tuberia.webp);
    background-size: 100%;
    border: none;
    color: transparent;
}
.link_volver{
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding: 120px 250px 120px 250px;
}

.link_volver:hover{
    color: transparent;
}


.bowser{
    width: 600px;
    margin-top: 610px;
    margin-left: 450px;
}

